
:root{
    --background-color: rgb(11, 80, 11);
    --secondary-color: rgb(193, 188, 188);
    --border-color: rgb(76, 50, 50);
    --text-color: rgb(244, 242, 242);
    --text-required: rgb(255, 0, 0);
    --body-font: "Fira Sans", sans-serif;
    --accent-font: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
}

header{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2em 2px;
    text-align: center;
    width: 100%;
    border-bottom: .5rem solid var(--border-color) ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#hamburger-menu{
    justify-self: right;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: .5em;
    margin: 0 1em;
}

.navigation{
    list-style: none;
}

 .navigation img{
    background-color: var(--secondary-color);
    top: 20%;
    left: 5%;
    border: .2em solid var(--border-color);
    padding: 5px ;
    margin: .5em 5em;
    justify-self: left;
    align-self: center;
}


.navigation a{
    display: block;
    padding: 1em;
    background-color: var(--background-color);
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.25em;
}

.navigation a:hover,
.navigation a:active{
    background-color: var(--secondary-color);
    color: var(--background-color);
}

#siteNav{
    display: none;
}

#siteNav.open{
    display: block;
    grid-column: 3/4;
    grid-row: 1/2;
}

#siteNav ul{
    display: flex;
    flex-direction: column;
}


#hamburger-menu.open::before{
    content: "X";
    font-size: 1.5em;
}

#hamburger-menu::before{
    content: "☰";
}


h1{
    bottom: 1%;
    padding: 45px;
    grid-column: span 3;
    grid-row: 2/3;
    justify-self: center;

}

h1,h2{
    font-family: var(--accent-font);
}

h2{
    margin-bottom: 1rem;
}

.image{
    display: flex;
    justify-content: center;
    width: min(90%, 800px);
    margin: 0 auto;
    
}

.image img{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 1rem;
    align-self: center;
    border: .5rem solid var(--border-color);
}

.info1,
.info2{
    background-color: var(--background-color);
    color: var(--text-color);
    border: .5rem solid var(--border-color);
    padding: 1rem;
    margin: 1rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.table{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border: .5rem solid var(--border-color);
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
}

.table button{
    background-color: var(--background-color);
    color: var(--text-color);
    border: .2em solid var(--border-color);
    padding: 1rem;
    margin: .25em;
    font-size: 1.25em;
}

.table button:hover,
.table button:focus-visible,
.table button:active{
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.options{
    border: none;
    display: grid;
    grid-template-rows: 5em 1fr;
    border-bottom: .5rem solid var(--border-color);
}

.options h2{
    grid-row: 1/2;
    justify-self: center;
}

.guide{
    border:none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.plant-info section{
    border: .2em solid var(--border-color);
    padding: 1rem;
    margin: 0.5rem;
}

.plant-info p,
.plant-info img{
    margin: 0.5rem;   
}


.wf1{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: .5rem solid var(--border-color);
    width: min(90%, 400px);
    padding: 1rem;
    margin: 1rem auto;
    color: var(--text-color);
}


.wf1 label{
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
}

.wf1 button[type="submit"]:hover,
.wf1 button[type="submit"]:focus-visible,
.wf1 button[type="submit"]:active{
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.wf1 button[type="submit"]{
    margin-top: .5rem ;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1em;
}

.wf1 button[type="submit"],
.wf1 input[type="text"],
.wf1 input[type="email"]
    {
        padding: 1rem;
    }

.wf1 input[type="email"]
    {
        padding: 1rem;
    }

.wf1 input:required{
    border-bottom: solid 5px var(--text-required);
}
.wf1 input:required:valid{
    border-bottom: none
}

.submissionConfirmation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
    border: .5rem solid var(--border-color);
    padding: 1rem;
    margin: 1rem auto 0;
    color: var(--text-color);
}

footer{
    font-size: small;
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    border-top: .5rem solid var(--border-color);
    padding: 1rem;
    width: 100%;
}

@media (min-width: 600px){

    #siteNav{
        display: block;
    }

    #siteNav li{
        display: block;

    }

    #siteNav a {
        text-align: center;
    }

    #hamburger-menu{
        display: none;
    }

    .image img{
    max-width: 80%;
    }

    .wf1{
        width: min(90%, 600px);
    }

    .wf1 button[type="submit"],
    .wf1 input[type="text"],
    .wf1 input[type="email"]
    {
        max-width: 30rem;
    }

    .submissionConfirmation{
        display: grid;
        width: min(90%, 600px);
    }


}