
:root{
    --primary-color: #a2a0a0;
    --accent-color1: black;
    --accent-color2:rgb(128, 151, 180);
    --body-font:"Fira Sans", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    display: grid;
    height: 100vh;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

header{

    justify-items: center;
}

#course-title{
    display: block;
    background-color: var(--accent-color2);
    padding: 1rem;
    width: 100%;
    text-align: center;
}

nav{
    display:flex;
    width: 100%;
    justify-content: space-around;
    background-color: var(--primary-color);
}

nav a{
    color: var(--accent-color1);
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}
nav li{
    display: inline-block;
    padding: 2px 20px;
    margin: 10px;
    list-style-type: none;
  
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr;
    max-width: 90%;
    margin: 2rem;


}
h1{
    font-size: large;
    grid-column: 1/3;
    text-align: center;
}

.card {
    border:solid 2px var(--accent-color1);
    margin: .5rem;
    border-radius: 10px;
}

h2{
    background-color: var(--accent-color2);
    font-weight: 100;
    font-size: medium;
    border-radius: 10px 10px 0 0 ;
    text-align: center;
    padding: 15px;
}

p{
    padding: 1rem;
}

img{
    float: right;
    height: auto;
    width: 150px;
    padding: 1rem;
}

h3{
    border-bottom: solid 1px var(--accent-color1);
    text-align: center;
    margin: 0 3rem 0px 3rem;
}

.location img{
    float: left;
    height: auto;
    width: 150px;
    padding: 1rem 0 1rem 1rem;
}

.location figure{
    float: left;
    margin: 5px;
    padding: 5px;
    font-size: small;

}
.location figcaption{
    text-align: center;
    padding: 0 5px 0 20px;
 
}

li{
    padding: .5rem;
    margin: 2rem;
}

footer{
    background-color: var(--accent-color2);
    text-align: center;
}

#modified{
    font-size: small;
    padding: 1rem;
    color: var(--accent-color1);
}