:root{
    --primary-color: rgb(53, 4, 53);
    --background-color: rgb(193, 190, 190);
    --text-color:white;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

@media (min-width: 640px){
    body{
        padding: 0.5em;
        max-width: 30em;
        background-color: var(--background-color);
    }
}


body{
    
    margin: 0 auto;
    padding: 0.5em;
}
header{
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
}

form{
    background-color: var(--background-color);
    padding: 1em;
    margin: 1em auto;
    border-radius: 5px;
}

fieldset{
    border: none;
}
 
.product legend,
.install legend,
.features legend{
    width: 15rem;
    margin-bottom: 1em;
    font-weight: bold;
}

.review legend,
.name legend{
    margin-bottom: 1em;
    font-weight: bold;
}

.rating legend{
    font-weight: bold;
}

label{   
    width: 100%;
    display: block;
    margin-bottom: 0.2em;
}

.product label,
.install label{
    display: grid;
    grid-template-columns: 1fr;
}

.product select,
.install input[type="date"]{
    padding: 5px;
}


.ratingOptions{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-bottom: 1em;
}

.ratingOptions label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features input[type="checkbox"]{
    width: 2rem;
    height: 1.5rem;
    margin-right: 0.4rem;
}

.features label{
    display: flex;
    align-items: center;
    font-weight: normal;
}

footer{
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em;
}

.review label,
.name label{
display: grid;
}

.review legend,
.name legend,
.rating legend{
    width: 100%;
}

.optional{
    font-weight: normal;
    font-size: 0.9em;
    color: rgb(5, 5, 165);
    margin-left: 0.25rem;
}

.review textarea,
.name input[type="text"]{
    display: inline-block;
    padding: 5px;
}

.name input[type="text"]{
    padding-bottom: 20px;
}

.submit legend{
    width: 100%;
}

input[type="submit"]{
    border: gray solid 2px;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1em;
    width: 100%;
}